.header {
    background: #663399;
    padding: 0.2em;
    font-weight: 600;
}

.header>h2 {
    width: 150px;
}

.logo>a {
    text-decoration: none;
    transition: all .2s ease-in-out;
    letter-spacing: 2px;
    padding: 0.2em;
    color: #fff;
}