.post {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    width: 50em;
    text-align: left;
}

.post>h1 {
    font-size: 3em;
}

.post>picture {
    margin: 2em auto;
}

.post>p {
    /* Negate oveflow from pulled content */
    overflow-x: hidden;
}

/* Embeded images from articles */

.post>p img {
    height: auto;
    width: 500px;
    margin: 2em auto;
}

/* Embeded videos from articles */

.post>p video {
    width: 500px;
    height: 500px;
}


/* Resize twitter icon in articles */
.contributor__twitter{
    width: 100px;
}